<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ColorIt Bot - Let's colorify your world</title>

    <!-- Favicon -->
    <!-- link rel="icon" type="image/png" sizes="67x67" href="{{ url_for('static', filename='icon.png') }}"-->


    <!-- Main CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->

    <!-- JS theme -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script-->
    <!--script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script--> 
  </head>

  <body>
    <div id='bodybox'>
      <center><img src="https://lilgreenland.github.io/images/BMO.jpg" align="middle"></center>
    </div>
  </body>
</html>